<div class="land-container">
<div class="text-center row jumbotron jumbotron-fluid">
  <div class="col-md-4">
		<%= link_to 'SPORTS', schools_path,  class: 'btn btn-lg btn-slo'  %>
    </div>
  <div class="col-md-4">
		<%= link_to 'EVENTS', events_path,  class: 'btn btn-lg btn-slo'  %>
    </div>
    <div class="col-md-4">
		<%= link_to 'SENIORS',senior_schools_path, class: 'btn btn-lg btn-slo'  %>
    </div>

</div>
</div>

<script type="text/javascript">
  (function()

    {
      if( window.localStorage )
        // debugger;
      {
        if( !localStorage.getItem('firstLoad') )
        {
          localStorage['firstLoad'] = true;
          window.location.reload();
        }  
        else
          localStorage.removeItem('firstLoad');
      }
    }
  )();
  $(document).ready(function(){
  	 $("#footer").removeClass("footer");
    setTimeout(function(){
    $('.flash-panel').fadeOut();
    }, 2000);
   })
</script>	