/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1pxrgba(0,0,0,.05);
}
.panel-info{
    border-color: #BCE8F1;;
}*/
.custom-nav-group-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header-title-logo {
    width: auto;
    max-width: 100%;
    max-height: 70px;
}

.panel-body {
    padding: 15px;
}

.form-panel{
    height:100%;
    display:table; height:100%; margin: 0 auto;
    /*width: 1000px;
    padding-left: 150px;*/
    /*position: absolute;*/
      /*top: 50%;
      left: 50%;*/
      /*text-align: center;*/
      width: 100%;
        /*margin-left : 25%*/
}
.footer{
  text-align: center;
  padding: 3px;
  background-color: #e3f2fd;
  margin-top: 5%;
  font-size: 15px;
  /*width: 100%;
    bottom: 0;*/
  /*position: fixed;*/
  /*display: flex;*/
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

/*.form-select{
    padding: .3125rem 3rem .3125rem 1rem;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right 1rem center;
    border-radius: .25rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #d8e2ef;
    color: #344040;
    background-size: 10px 12px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.075);
    outline:none;
}*/

.select {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 3px;
  border: none;
  background: #f1f1f1;
  padding: 2px;
}
    
/*.select:hover {
  background-color: dodgerblue;
}*/

